@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-top {
    width: 100%;
    height: 550px;
    background-image: url(/images/bg-pattern-intro.svg), linear-gradient(to right, hsl(13, 100%, 72%),  hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-position: 30% 50%;
    overflow: hidden;
    border-bottom-left-radius: 90px;
    z-index: 1;
} 

.page-top header  {
    z-index: 1;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}

.page-top header .logoImg {
    margin-left: 80px;
}

.page-top header .burgerBtn {
    visibility: hidden;
}

.page-top header .navigation {
    display: inline-flex;
    margin-left: 5%;
    margin-right: 50%;
}

.page-top header .navigation .main-menu-item {
    list-style: none;
    margin-right: 20px;
}

.page-top header .navigation .main-menu-btn,
.main-menu-btn1,
.main-menu-btn2 {
    cursor: pointer;
}

/**Botão do Product**/
.page-top header .hidden-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    width: 140px;
    height: 140px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.page-top header .hidden-menu.active {
    display: flex; 
}

/**Botão do Company**/
.page-top header .hidden-menu1 {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    width: 140px;
    height: 140px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.page-top header .hidden-menu1.active1 {
    display: flex; 
}

/**Botão do Connect**/
.page-top header .hidden-menu2 {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    width: 140px;
    height: 140px;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.page-top header .hidden-menu2.active2 {
    display: flex; 
}

.page-top header .sub-menu-item a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5;
    color: hsl(207, 13%, 34%);
}

.page-top header .navigation .main-menu-item button {
    border: none;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

.page-top header .navigation .main-menu-item button img {
    margin-left: 5px;
}

.page-top header .header-btn {
    margin-right: 5%;
}

.page-top header .header-btn .loginBtn {
    margin-right: 10px;
    width: 100px;
    height: 40px;
    background: none;
    border-radius: 30px;
    border: none;

    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);

    transition: .3s;
}

.page-top header .header-btn .loginBtn:hover {
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
}

.page-top header .header-btn .signBtn {
    width: 100px;
    height: 40px;
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
    border: none;

    text-decoration: none;
    font-weight: bold;
    color: hsl(353, 100%, 62%);

    transition: .3s;
}

.page-top header .header-btn .signBtn:hover {
    background: hsl(355, 100%, 74%);
    color:hsl(0, 0%, 100%);
}



.page-top header .hidden-menu .sub-menu-item a:hover {
    color: hsl(240, 10%, 16%);
}


.page-top .top-content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    margin-top: 130px;
}

.page-top .top-content h1 {
    font-family: 'Overpass', sans-serif; 
    font-size: 48px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.page-top .top-content p {
    font-family: 'Overpass', sans-serif; 
    font-size: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
}

.page-top .top-content .top-content-btn {
    margin-top: 20px;
}

.page-top .top-content .top-content-btn .startBtn {
    margin-right: 10px;
    width: 100px;
    height: 40px;
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
    border: none;

    text-decoration: none;
    font-weight: bold;
    color: hsl(353, 100%, 62%);

    transition: .3s;
}

.page-top .top-content .top-content-btn .startBtn:hover {
    background: hsl(355, 100%, 74%);
    color:hsl(0, 0%, 100%);
}

.page-top .top-content .top-content-btn .learnBtn {
    width: 100px;
    height: 40px;
    background: none;
    border-radius: 30px;
    border: solid 2px hsl(0, 0%, 100%);

    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);

    transition: .3s;
}

.page-top .top-content .top-content-btn .learnBtn:hover {
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
}
