@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.second-content {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
}

.second-content .second-content-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 20px;    
}

.second-content .second-content-text img {
    z-index: 0;
    position: relative;
    right: 80px;
}

.second-content .second-content-text .second-content-text-total {
    width: 500px;
    margin-right: 200px;
}

.second-content .second-content-text .second-content-text-total .second-content-text-part1 h2{
    font-family: 'Ubuntu', sans-serif;
    color: hsl(208, 49%, 24%);
    margin-bottom: 20px;
}

.second-content .second-content-text .second-content-text-total .second-content-text-part1 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(207, 13%, 34%);
    margin-bottom: 50px;
}

.second-content .second-content-text .second-content-text-total .second-content-text-part2 h2{
    font-family: 'Ubuntu', sans-serif;
    color: hsl(208, 49%, 24%);
    margin-bottom: 20px;
}

.second-content .second-content-text .second-content-text-total .second-content-text-part2 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(207, 13%, 34%);
}






