@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topic {
    width: 100%;
    height: 400px;
    background-image: url(/images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%),   hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: bottom left;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
}

.topic .topic-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15% 0px 15%;
    position: relative;
    bottom: 80px;
}

.topic .topic-content .topic-content-text {
    width: 500px;
}

.topic .topic-content .topic-content-text h1 {
    font-family: 'Overpass', sans-serif;
    color: hsl(0, 0%, 100%);
}

.topic .topic-content .topic-content-text p {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(0, 0%, 100%); 
}
